extends layout

block content
  h1 #{title}: #{franchise.name}

  if franchises_games.length

    p #[strong Delete the following games before attempting to delete this franchise.]

    div.content-container(style='margin-left:20px;margin-top:20px')

      h4 Games

      dl
      each book in franchises_games
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p Do you really want to delete this franchise?

    form(method='POST' action='')
      div.form-group
        input#franchiseid.form-control(type='hidden', name='franchiseid', required='true', value=franchise._id)

      button.btn.btn-primary(type='submit') Delete