extends layout

block content
  div.list-container
    h1= title
    h4 Franchises: #{franchise_list.length}

    ul
      each franchise in franchise_list
        li
          a(href=franchise.url) !{franchise.name}

    div(class="cards-container")
      each franchise in franchise_list 
        div(class="category-card")
          a(href=franchise.url)
            div(class="image-container")
              img(src= "/images/category/franchise.png")
            a(href=franchise.url) !{franchise.name}

      else
        li There are no franchises.
