extends layout

block content
  h1 #{title}: #{gameinstance._id}

  p Do you really want to delete this Game Instance?

  form(method='POST' action='')
    div.form-group
      input#gameinstanceid.form-control(type='hidden', name='gameinstanceid', required='true', value=gameinstance._id)

      label(for='passcode') Enter admin password:
      input#name.form-control.form-error(type='password', placeholder='Enter password' name='passcode' required=true)
      
      if passcodeError 
        div #{passcodeError}

    button.btn.btn-primary(type='submit') Delete