extends layout

block content
  div.content-container(class="gameinstance")

    div.title ID: #{gameinstance._id}

    p #[strong Title:]
      a(href=gameinstance.game.url) !{gameinstance.game.title}

    img(src="/images/games/" + gameinstance.game.image alt= gameinstance.game.title + " cover")

    p #[strong Status: ]
      if gameinstance.status=='Available'
        span.text-success #{gameinstance.status}
      else if gameinstance.status=='Sold'
        span.text-danger #{gameinstance.status}
      else
        span.text-warning #{gameinstance.status}

    if gameinstance.status!='Available'

    hr
    p
      a(href=gameinstance.url+'/delete') Delete Game Instance
    p
      a(href=gameinstance.url+'/update') Update Game Instance
