extends layout

block content
  h1= title
  h4 Games: #{game_list.length}
  div.game-list-container
    table.game-list
      
      tr.list-header
        th(scope="col") Image 
        th(scope="col") Name
        th(scope="col") Publisher
        th(scope="col") Genre 
        th(scope="col") Franchise
  
      each game in game_list
        tr.game-list-item
          td.game-list-image
            a(href=game.url)
              img(src="/images/games/" + game.image, alt="video game cover", onerror="this.onerror=null;this.src=/images/games/game.jpg';")
          td
            a(href=game.url) !{game.title}
          td  
            a(href=game.publisher.url) !{game.publisher.name}
          td
            each val, index in game.genre
              a(href=val.url) #{val.name}
              if index < game.genre.length - 1
                |, 
          td 
            a(href=game.franchise.url)  !{game.franchise.name}
      else
        td There are no games.
